<!DOCTYPE html>
<html>
  <head>
    <title>PivorakSocial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex h-screen text-white text-center bg-black">
    <div class="flex-none w-64 border-r py-10">
      <%= turbo_frame_tag :profile, src: '/profile' do %>
        Loading profile ...
      <% end %>
    </div>

    <div class="flex-grow p-10">
      <%= yield %>
    </div>

    <div class="flex-none w-96 border-l py-10">
      <%= turbo_frame_tag :notifications, src: '/notifications' do %>
        Loading notifications ...
      <% end %>
    </div>
  </body>
</html>
